<?xml version="1.0"?>
<launch>
    <!-- Charger l'Empty World -->
    <arg name="world_file" default="$(find gazebo_ros)/worlds/empty.world"/>

    <!-- Ajouter le chemin des modèles -->
    <env name="GAZEBO_MODEL_PATH" value="$(find turtlebot3_gazebo)/models"/>

    <!-- Lancer Gazebo avec le fichier Empty World -->
    <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="-s libgazebo_ros_factory.so $(arg world_file)" output="screen"/>
    <node name="gazebo_client" pkg="gazebo_ros" type="gzclient" output="screen"/>

    <!-- Charger la description du modèle TurtleBot3-Burger -->
    <arg name="model" default="burger"/>
    <param name="robot_description" command="$(find xacro)/xacro '$(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro'" />

    <!-- Position initiale du robot -->
    <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="0.0"/>
    <arg name="z_pos" default="0.1"/>

    <!-- Ajouter le modèle TurtleBot3-Burger au monde -->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_turtlebot3_burger"
          args="-urdf -model turtlebot3_burger -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description"
          output="screen"/>
</launch>
